@import 'settings';

/* CALENDAR */

.calendar {
  background: $neutral-color;
  border: 1px solid $border-color;
  display: block;
  position: relative;
  width: 100%;

  .header {
    border-bottom: 1px solid $border-color;
    font-size: 115%;
    font-weight: 700;
    padding: 1.5em 0;
    text-transform: uppercase;

    .icon {
      cursor: pointer;
      transition: .15s ease-out;

      &:hover {
        color: $primary-color;
        transform: scale(1.75);
        transition: .25s ease-out;
      }
      &:first-of-type { margin-left: 1em; }
      &:last-of-type { margin-right: 1em; }
    }
  }

  .days {
    border-bottom: 1px solid $border-color;
    color: $text-color-light;
    font-size: 70%;
    font-weight: 400;
    padding: .75em 0;
    text-transform: uppercase;
  }

  .calendar-body {

    .cell-wrapper {
      padding-top: 10%;
      position: relative;
      width: 100%;

      &:last-child { border-right: none; }

      .cell {
        background: $neutral-color;
        border-right: 1px solid $border-color;
        cursor: pointer;
        overflow: hidden;
        transition: 0.25s ease-out;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        &:hover {
          background: $bg-color;
          transition: 0.5s ease-out;
        }

        .number {
          font-size: 82.5%;
          font-weight: 700;
          line-height: 1;
          position: absolute;
          top: .75em;
          right: .75em;
        }

        .bg {
          color: $primary-color;
          font-size: 8em;
          font-weight: 700;
          letter-spacing: -.07em;
          line-height: 1;
          opacity: 0;
          transition: .25s ease-out;
          position: absolute;
          top: -.2em;
          right: -.05em;
        }

        &:hover .bg {
          opacity: 0.05;
          transition: .5s ease-in;
        }

        .events {
          display: flex;
          flex-direction: column;
          height: calc(100% - 1.8em);
          margin-left: .3em;
          width: calc(100% - 1em);
          position: absolute;
          top: 1.5em;

          .event {
            background-color: $secondary-color;
            border-radius: 5px;
            line-height: 1;
            margin-bottom: .2em;
            margin-left: 5%;
            padding: .3em .2em;
            width: 90%;

            &:hover {
              transform: scale(1.10);
              transition: .25s ease-out;
            }

            .title {
              color: white;
              font-size: 90%;
            }
          }
        }
      }

      .selected {
        border-color: $primary-color;
        border-image-slice: 1;
        border-left: 10px solid transparent;

        .bg {
          opacity: 0.05;
          transition: .5s ease-in;
        }
      }

    }

    .row{
      border-bottom: 1px solid $border-color;

      &:last-child { border-bottom: none; }
    }

    .col {
      flex-grow: 0;
      flex-basis: calc(100%/7);
      width: calc(100%/7);
    }

    .disabled { pointer-events: none; }
  }
}

/* */
