/* VARIABLES */

  // Colors
  $primary-color: #1a8fff !default;
  $secondary-color: #4598e6 !default;
  $tertiary-color: #53cbf1 !default;
  $text-color: #777 !default;
  $text-color-light: #ccc !default;
  $border-color: #eee !default;
  $bg-color: #f9f9f9 !default;
  $neutral-color: #fff !default;

/* */
